div{
    font-family: "Roboto", sans-serif;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.ci{
    text-align: center;
    width: 150px;
    height: 150px;
    position: relative;
    font-size: 150px;
    /* background-color: green; */
    line-height: 150px;
}
.key{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    font-size: 72px;
    line-height: 72px;
    /* background-color: blue; */
}