/* Comment */
body{
    font-family: "Lato", sans-serif;
}
h1{
    font-size: 48px;
    font-weight: 900;
}
h2{
    color: #232926;
    font-size: 36px;
    font-weight: 400;
}
h3{
    color: #232926;
    font-size: 36px;
    font-weight: 400;
}
h1,h2,h3{
    text-align: center;
    text-transform: uppercase;
}
p{
    background-color: rgb(123, 167, 187);
    color: #0c0c0c;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin-top: 29px;
    /* padding-top: 29px;
    padding-right: 52px;
    padding-bottom: 43px;
    padding-left: 52px; */
    padding: 28px 52px 28px 52px;
}
.container{
    max-width: 900px;
    margin: 0 auto 0 auto;
}
.additional{
    background-color: cornflowerblue;
    text-align: center;
}